<h1><%= @watchlist.name %></h1>
<h2>Edit <%= @media.name %></h2>

<form action="/watchlist/<%= @watchlist.id %>/media/<%= @media.id %>/edit" method="post">
  <fieldset>
    <div>
      <label for="name">Name: </label>
      <input id="name" name="name" type="text" value="<%= @m_name %>" required>
    </div>
    <div>
      <label for="platform">Platform: </label>
      <input id="platform" name="platform" type="text" value="<%= @m_platform %>" required>
    </div>
    <div>
      <label for="url">URL: </label>
      <input id="url" name="url" type="url" value="<%= @m_url %>">
    </div>
    <button>Edit media</button>
  </fieldset>
</form>