<ul>
  <% @watchlists.each do |row| %>
    <li>
      <a href="/watchlist/<%= row[:id] %>"><%= row[:name] %></a>
      <a href="/watchlist/<%= row[:id] %>/rename">Rename</a>
      <form action="/watchlist/<%= row[:id] %>/delete" method="post">
        <button>Delete</button>
      </form>
    </li>
  <% end %>
</ul>

<% if @page > 1 %>
  <a href="/?page=<%= @page - 1%>">Previous Page</a>
<% end %>

<% if @page < @max_page %>
  <a href="/?page=<%= @page + 1%>">Next Page</a>
<% end %>

<form action="/new_watchlist?page=<%= @page %>" method="post">
  <p>Create new watchlist</p>
  <fieldset>
    <div>
      <label for="name">Name: </label>
      <input id="name" name="name" type="text" required>
    </div>
    <button>Create watch list</button>
  </fieldset>
</form>